.favourites {
  position: absolute;
  left: 100%;
  height: 100%;
  transition: all 400ms ease;
  background-color: tomato;
  overflow: auto; }

.close-favourites {
  width: 0%; }

.expand-favourites {
  left: 10%;
  display: block;
  width: 95%; }
