@import '../../utils.scss';

.pet-wrapper {
  border: 2px solid $yellow;
  position: relative;
  margin: 0 1rem 2rem 0;
  flex: 1 0 calc(33% - 2rem);
  box-sizing: border-box;
  @media (max-width: $tablet) {
    flex-basis: calc(50% - 2rem);
  }
  @media (max-width: $mobile) {
    flex-basis: 100%;
  }
  &:nth-child(3n) {
    margin-right: 0;
    @media (max-width: $tablet) {
      margin-right: 1rem;
    }
  }
}
.pet {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  cursor: pointer;
  position: relative;
  & .img-container {
    display: flex;
    flex: 1 0 100%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    @media (max-width: $mobile) {
      height: 300px;
    }
    & img {
      align-self: center;
    }
  }
  & .pet-info {
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    color: $white;
    & .pet-name {
      margin-bottom: .5rem;
      margin-right: 1rem;
    }
    & .pet-blurb {
      margin-bottom: 0.5rem;
    }
  }
}

.favourite-btn {
  border: none;
  width: 100%;
  padding: 1rem 0;
  background-color: $yellow;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: all 300ms ease;
  &:hover {
    background-color: $black;
    color: $yellow;
  }
}