.pet-wrapper {
  border: 2px solid #FDCA40;
  position: relative;
  margin: 0 1rem 2rem 0;
  flex: 1 0 calc(33% - 2rem); }
  @media (max-width: 800px) {
    .pet-wrapper {
      flex-basis: calc(50% - 2rem); } }
  @media (max-width: 550px) {
    .pet-wrapper {
      flex-basis: 100%; } }
  .pet-wrapper:nth-child(3n) {
    margin-right: 0; }
    @media (max-width: 800px) {
      .pet-wrapper:nth-child(3n) {
        margin-right: 1rem; } }

.pet {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  cursor: pointer;
  position: relative; }
  .pet .img-container {
    display: flex;
    flex: 1 0 100%;
    width: 400px;
    height: 400px;
    overflow: hidden; }
    @media (max-width: 550px) {
      .pet .img-container {
        height: 300px; } }
    .pet .img-container img {
      align-self: center; }
  .pet .pet-info {
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff; }
    .pet .pet-info .pet-name {
      margin-bottom: .5rem;
      margin-right: 1rem; }
    .pet .pet-info .pet-blurb {
      margin-bottom: 0.5rem; }

.favourite-btn {
  border: none;
  width: 100%;
  padding: 1rem 0;
  background-color: #FDCA40;
  text-transform: uppercase; }
