
@import '../../utils.scss';

header {
  .wrapper {
    display: flex;
    flex: 1 0 90%;
    padding: 0 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  & h1 {
    flex: 1 0 50%;
  }
  & .location-search {
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
    flex: 1 0 40%;
    transition: all 300ms ease;
    & .location-field {
      text-align: right;
      margin-bottom: 0;
      padding-bottom: 0.5rem;
      margin-right: 1rem;
      width: 40%;
      @media (max-width: $mobile) {
        max-width: none;
        width: 100%;
        text-align: left;
      }
    }
    & .location-btn {
      padding: 1rem;
    }
  }
  & .hide-search-in-menu {
    opacity: 0;
    visibility: hidden;
  }
  & .reveal-search, & .reveal-random-btn {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms ease;
  }
}

.top {
  display: flex;
  flex: 1 0 100%;
  padding: 1rem;
  background-color: $white;
}

.bottom {
  display: flex;
  flex: 1 0 100%;
  padding: 1rem;
  & .wrapper {
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  & .random-btn, & .location-btn {
    background: $yellow;
    text-transform: uppercase;
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 300ms ease;
    padding: 1rem;
    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }
  & .random-btn {
    @media(max-width: $mobile) {
      margin-top: 1rem;
      order: 1;
    }
  }
}
