header .wrapper {
  display: flex;
  flex: 1 0 90%;
  padding: 0 1rem;
  flex-wrap: wrap;
  align-items: center; }

header h1 {
  flex: 1 0 50%; }

header .location-search {
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
  flex: 1 0 40%;
  transition: all 300ms ease; }
  header .location-search .location-field {
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    width: 40%; }
    @media (max-width: 550px) {
      header .location-search .location-field {
        max-width: none;
        width: 100%;
        text-align: left; } }
  header .location-search .location-btn {
    padding: 1rem; }

header .hide-search-in-menu {
  opacity: 0;
  visibility: hidden; }

header .reveal-search, header .reveal-random-btn {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease; }

.top {
  display: flex;
  flex: 1 0 100%;
  padding: 1rem;
  background-color: #fff; }

.bottom {
  display: flex;
  flex: 1 0 100%;
  padding: 1rem; }
  @media (max-width: 550px) {
    .bottom .wrapper {
      flex-direction: column;
      align-items: stretch; } }
  .bottom .random-btn, .bottom .location-btn {
    background: #FDCA40;
    text-transform: uppercase;
    color: #080708;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 300ms ease;
    padding: 1rem; }
    .bottom .random-btn:hover, .bottom .location-btn:hover {
      background-color: #080708;
      color: #FDCA40; }
  @media (max-width: 550px) {
    .bottom .random-btn {
      margin-top: 1rem;
      order: 1; } }
