@import '../../utils.scss';

.location-pets {
  & .pets-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    // & .pet-wrapper:first-child {
    //   flex: 1 0 100%;
    // }
  }
  & .pet {
    max-width: none;
    & .img-container {
      width: initial;
    }
  }
}

.random-pet {
  & .pets-wrapper {
    @media (max-width: $mobile) {
      padding: 0 1rem;
    }
  }
  & .pet .img-container {
    @media(max-width: $mobile) {
      width: initial;
    }
  }
}

