.location-pets {
  & .pets-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    & .pet-wrapper {
      margin: 0 1rem 2rem 0;
      flex: 1 0 calc(33% - 2rem);
    }
    // & .pet-wrapper:first-child {
    //   flex: 1 0 100%;
    // }
  }
  & .pet {
    max-width: none;
    & .img-container {
      width: initial;
    }
  }

}