.location-pets .pets-wrapper {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap; }
  .location-pets .pets-wrapper .pet-wrapper {
    margin: 0 1rem 2rem 0;
    flex: 1 0 calc(33% - 2rem); }

.location-pets .pet {
  max-width: none; }
  .location-pets .pet .img-container {
    width: initial; }
