.location-pets .pets-wrapper {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap; }

.location-pets .pet {
  max-width: none; }
  .location-pets .pet .img-container {
    width: initial; }

@media (max-width: 550px) {
  .random-pet .pets-wrapper {
    padding: 0 1rem;
    margin: 0 0 2rem 0; } }

@media (max-width: 550px) {
  .random-pet .pet .img-container {
    width: initial; } }
