.location-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  width: 100%; }
  .location-search .location-field {
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem;
    margin-bottom: 3rem;
    width: 50%; }
  .location-search .location-btn {
    background-color: yellow; }

main .location-search.hide-main-search {
  display: none; }
