@import '../../utils.scss';

.location-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & .location-field {
    border: none;
    border-bottom: 1px solid $white;
    background: none;
    padding: 1rem;
    margin-bottom: 3rem;
    width: 50%;
    max-width: 300px;
    @media (max-width: $mobile) {
      width: 80%;
    }
  }
  .location-btn {
    background-color: $yellow;
  }
}

main .location-search.hide-main-search {
  display: none;
}
