.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  // overflow: hidden;
  background: linear-gradient( rgba(0,0,0,.6), rgba(0,0,0,.6)), url(./assets/juniormya.jpg) no-repeat center;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: center;
}


