.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }

main {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: center; }
