html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.6px;
  color: #fff; }

.location-field {
  text-align: center;
  color: #fff; }

.pet-info .pet-name {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1.5px; }

.pet-info .blurb {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }
