.profile {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .profile .close-btn {
    color: #FDCA40;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 3rem;
    font-weight: 600;
    background: none;
    border: none; }

.pet-profile {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 550px) {
    .pet-profile {
      width: 95%; } }
  .pet-profile .img-container {
    flex: 1 0 40%; }
    @media (max-width: 800px) {
      .pet-profile .img-container {
        flex-basis: 100%;
        display: flex;
        align-items: center; } }
  .pet-profile .profile-information {
    background-color: #fff;
    flex: 1 0 calc(60% - 4rem);
    padding: 2rem; }
    .pet-profile .profile-information .pet-name {
      font-size: 4rem; }
    .pet-profile .profile-information .description {
      line-height: 1.5; }
    .pet-profile .profile-information h2, .pet-profile .profile-information h3 {
      margin-bottom: 1.5rem;
      padding-top: 1rem; }
    .pet-profile .profile-information.blurb {
      font-size: 1.6rem;
      text-transform: initial; }
    .pet-profile .profile-information.blurb p {
      margin-bottom: 1rem; }
